# youtube url https://www.youtube.com/watch?v=-uGZFyO9O5k
requests
dotenv
langchain
langchain-community 
langchain-community==0.3.13
#GROQ_API_KEY=="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"
langchain==0.3.13
streamlit==1.41.1

python-dotenv==1.0.1
groq==0.13.1
langchain-groq==0.2.2

